In [56]:
import numpy as np
import pandas as pd

In [66]:
rawDataDf = pd.read_excel('../preprocess/场地处理能力.xlsx')
allDataDf = pd.read_excel('../preprocess/左侧填充-物流网络历史货量数据.xlsx')
allDataDf

,场地1,场地2,2021-01-01,2021-01-02,2021-01-03,2021-01-04,2021-01-05,2021-01-06,2021-01-07,2021-01-08,...,2022-12-22,2022-12-23,2022-12-24,2022-12-25,2022-12-26,2022-12-27,2022-12-28,2022-12-29,2022-12-30,2022-12-31
0,1,8,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
1,2,3,9,9,9,9,9,9,9,9,...,1,1,1,1,1,1,1,1,1,1
2,2,4,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
3,2,5,6,6,6,6,6,6,6,6,...,11,11,11,11,11,11,11,11,11,11
4,2,8,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,76,8,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
1045,76,10,3,3,3,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4
1046,76,14,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
1047,76,62,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
1048,77,6,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [67]:
rawDataDf = rawDataDf.rename(columns={'货量': '处理能力'})

In [84]:
线路数量 = {}
总接受货量 = {}
总发出货量 = {}
for 场地 in rawDataDf['场地']:
    allDataDfMelt = pd.melt(allDataDf, id_vars=['场地1', '场地2'], value_name='货量', var_name='日期')
    temp = allDataDf[(allDataDf['场地1'] == 场地) | (allDataDf['场地2'] == 场地)]
    线路数量[场地] = len(temp)
    sumTable = allDataDfMelt.groupby(['场地1', '场地2'])[['货量']].sum().reset_index()
    总接受货量[场地] = sumTable[sumTable['场地2'] == 场地]
    总接受货量[场地] = 0 if len(总接受货量[场地]) == 0 else 总接受货量[场地]['货量'].sum()

    总发出货量[场地] = sumTable[sumTable['场地1'] == 场地]
    总发出货量[场地] = 0 if len(总发出货量[场地]) == 0 else 总发出货量[场地]['货量'].sum()

In [85]:
rawDataDf = rawDataDf.set_index('场地')
rawDataDf['线路数量'] = pd.Series(线路数量)
rawDataDf['总接受货量'] = pd.Series(总接受货量)
rawDataDf['总发出货量'] = pd.Series(总发出货量)

In [86]:
rawDataDf

         处理能力  线路数量      总接受货量    总发出货量
场地
1        2190     1          0     2190
2       39873     8          0    39873
3    43112783    79   42890584   222199
4   226800525    86  224886151  1914374
5    50764637    90   50353046   411591
..        ...   ...        ...      ...
77       1460     1          0     1460
78       5548     3       5548        0
79       1460     1       1460        0
80        730     1        730        0
81    4557073    22    4557073        0

[81 rows x 4 columns]

In [88]:
rawDataDf.to_excel('站点统计量.xlsx')