# prompt

```text
`场地1`和`场地2`构成有向图中的边，但是每条边的数据并不完整，完整数据应该包含从`2021-01-01`到`2022-12-31`。
我需要用该条边已有数据的平均值填充，但是不要覆盖已经存在的值。给出python代码
数据如下，第一行是表头

场地1,场地2,日期,货量
0,DC3,DC5,2021-01-01,3
1,DC3,DC10,2021-01-01,4
2,DC3,DC14,2021-01-01,4
3,DC5,DC3,2021-01-01,41
4,DC5,DC9,2021-01-01,3
5,DC5,DC10,2021-01-01,140
6,DC5,DC14,2021-01-01,57
7,DC5,DC22,2021-01-01,3
8,DC7,DC3,2021-01-01,254
9,DC7,DC5,2021-01-01,203

```

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

plt.rcParams['font.sans-serif'] = ['SimHei']  # 黑体
plt.rcParams['axes.unicode_minus'] = False  # 解决无法显示符号的问题
palette = 'deep'
sns.set(font='SimHei', font_scale=1.2, style='whitegrid', palette=palette)  # 解决Seaborn中文显示问题

rawData = pd.read_excel('../原始数据/附件1：物流网络历史货量数据.xlsx', parse_dates=['日期'], index_col='日期')
print(rawData.dtypes)
rawData

场地1    object
场地2    object
货量      int64
dtype: object

             场地1   场地2     货量
日期
2021-01-01   DC3   DC5      3
2021-01-01   DC3  DC10      4
2021-01-01   DC3  DC14      4
2021-01-01   DC5   DC3     41
2021-01-01   DC5   DC9      3
...          ...   ...    ...
2022-12-31  DC73   DC5   2479
2022-12-31  DC73   DC8    150
2022-12-31  DC73  DC10   8116
2022-12-31  DC73  DC14   6139
2022-12-31  DC73  DC62  15357

[177847 rows x 3 columns]

In [2]:
from datetime import datetime

date_format = "%Y-%m-%d"
start_date = datetime.strptime("2021-01-01", date_format)
end_date = datetime.strptime("2022-12-31", date_format)

delta = end_date - start_date
deltaDays = delta.days + 1
deltaDays

730

In [3]:
df = rawData.copy()
# 提取出每一条线路
grouped = df.groupby(by=['场地1', '场地2']).size().reset_index(name='count')
print('缺失数据的线路个数', len(grouped[grouped['count'] < deltaDays]))
print('总线路个数', len(grouped))
print('若补全所有线路，则总数据条数', len(grouped) * deltaDays)
grouped

缺失数据的线路个数 1033
总线路个数 1049
若补全所有线路，则总数据条数 765770

       场地1   场地2  count
0      DC1   DC8      1
1     DC10  DC12    211
2     DC10  DC13     21
3     DC10  DC14    730
4     DC10  DC17      9
...    ...   ...    ...
1044   DC9  DC58      1
1045   DC9  DC62      3
1046   DC9  DC67      8
1047   DC9  DC79      1
1048   DC9   DC8     35

[1049 rows x 3 columns]

In [4]:
newDf = pd.DataFrame()
newNoneDf = pd.DataFrame()
# 针对每一条线路判断是否缺失，并补全缺失值
for idx, row in grouped.iterrows():
    print(idx)
    currentDf = df[(df['场地1'] == row['场地1']) & (df['场地2'] == row['场地2'])]
    if row['count'] == deltaDays:
        newDf = pd.concat([newDf, currentDf])
        newNoneDf = pd.concat([newNoneDf, currentDf])
        continue
    # 找出缺失的日期段
    missing_dates = pd.date_range(start=df.index.min(), end=df.index.max()).difference(currentDf.index)

    # 计算平均值
    meanData = currentDf['货量'].mean()
    meanData = round(meanData)
    meanRow = pd.DataFrame({
        '场地1': row['场地1'],
        '场地2': row['场地2'],
        '货量': meanData,
    }, index=[1])
    missingRows = pd.concat([meanRow] * len(missing_dates), ignore_index=True)
    missingRows.index = missing_dates
    missingRows = pd.concat([missingRows, currentDf])
    newDf = pd.concat([newDf, missingRows])

    noneRow = pd.DataFrame({
        '场地1': row['场地1'],
        '场地2': row['场地2'],
        '货量': None,
    }, index=[1])
    missingRows = pd.concat([noneRow] * len(missing_dates), ignore_index=True)
    missingRows.index = missing_dates
    missingRows = pd.concat([missingRows, currentDf])
    newNoneDf = pd.concat([newNoneDf, missingRows])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048

In [5]:
print(len(newDf), len(newNoneDf), )

765770 765770

In [6]:
newDf.head()

            场地1  场地2  货量
2021-01-01  DC1  DC8   3
2021-01-02  DC1  DC8   3
2021-01-03  DC1  DC8   3
2021-01-04  DC1  DC8   3
2021-01-05  DC1  DC8   3

In [7]:
newNoneDf.head()

            场地1  场地2    货量
2021-01-01  DC1  DC8  None
2021-01-02  DC1  DC8  None
2021-01-03  DC1  DC8  None
2021-01-04  DC1  DC8  None
2021-01-05  DC1  DC8  None

In [8]:
newExcelDf = newDf.reset_index().rename(columns={'index': '日期'}).reindex(
    columns=['场地1', '场地2', '日期', '货量'])
newExcelDf = newExcelDf.sort_values(by=['场地1', '场地2', '日期']).reset_index(drop=True)
print(newExcelDf.head())
print(newExcelDf.dtypes)
newExcelDf['日期'] = pd.to_datetime(newExcelDf['日期']).dt.date
print(newExcelDf.dtypes)
print(newExcelDf.head())
# 使用 pivot_table 转换数据
newExcelDf = pd.pivot_table(newExcelDf, values='货量', index=['场地1', '场地2'], columns='日期').reset_index()
newExcelDf.head()

   场地1  场地2         日期  货量
0  DC1  DC8 2021-01-01   3
1  DC1  DC8 2021-01-02   3
2  DC1  DC8 2021-01-03   3
3  DC1  DC8 2021-01-04   3
4  DC1  DC8 2021-01-05   3
场地1            object
场地2            object
日期     datetime64[ns]
货量              int64
dtype: object
场地1    object
场地2    object
日期     object
货量      int64
dtype: object
   场地1  场地2          日期  货量
0  DC1  DC8  2021-01-01   3
1  DC1  DC8  2021-01-02   3
2  DC1  DC8  2021-01-03   3
3  DC1  DC8  2021-01-04   3
4  DC1  DC8  2021-01-05   3

日期,场地1,场地2,2021-01-01,2021-01-02,2021-01-03,2021-01-04,2021-01-05,2021-01-06,2021-01-07,2021-01-08,...,2022-12-22,2022-12-23,2022-12-24,2022-12-25,2022-12-26,2022-12-27,2022-12-28,2022-12-29,2022-12-30,2022-12-31
0,DC1,DC8,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
1,DC10,DC12,306,328,163,193,565,964,623,284,...,320,320,320,320,320,320,320,320,320,320
2,DC10,DC13,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
3,DC10,DC14,2613,2941,5968,4459,7646,5106,7155,5939,...,8663,9818,12248,13255,9896,15492,8230,29021,9991,13254
4,DC10,DC17,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [9]:
newExcelDf.to_excel('均值填充-物流网络历史货量数据.xlsx', index=False)

In [10]:
newExcelDf = newNoneDf.reset_index().rename(columns={'index': '日期'}).reindex(
    columns=['场地1', '场地2', '日期', '货量'])
newExcelDf = newExcelDf.sort_values(by=['场地1', '场地2', '日期']).reset_index(drop=True)
print(newExcelDf.head())
print(newExcelDf.dtypes)
newExcelDf['日期'] = pd.to_datetime(newExcelDf['日期']).dt.date
print(newExcelDf.dtypes)
print(newExcelDf.head())
# 使用 pivot_table 转换数据
newExcelDf = pd.pivot_table(newExcelDf, values='货量', index=['场地1', '场地2'], columns='日期').reset_index()
newExcelDf.head()

   场地1  场地2         日期    货量
0  DC1  DC8 2021-01-01  None
1  DC1  DC8 2021-01-02  None
2  DC1  DC8 2021-01-03  None
3  DC1  DC8 2021-01-04  None
4  DC1  DC8 2021-01-05  None
场地1            object
场地2            object
日期     datetime64[ns]
货量             object
dtype: object
场地1    object
场地2    object
日期     object
货量     object
dtype: object
   场地1  场地2          日期    货量
0  DC1  DC8  2021-01-01  None
1  DC1  DC8  2021-01-02  None
2  DC1  DC8  2021-01-03  None
3  DC1  DC8  2021-01-04  None
4  DC1  DC8  2021-01-05  None

日期,场地1,场地2,2021-01-01,2021-01-02,2021-01-03,2021-01-04,2021-01-05,2021-01-06,2021-01-07,2021-01-08,...,2022-12-22,2022-12-23,2022-12-24,2022-12-25,2022-12-26,2022-12-27,2022-12-28,2022-12-29,2022-12-30,2022-12-31
0,DC1,DC8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DC10,DC12,306.0,328.0,163.0,193.0,565.0,964.0,623.0,284.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DC10,DC13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DC10,DC14,2613.0,2941.0,5968.0,4459.0,7646.0,5106.0,7155.0,5939.0,...,8663.0,9818.0,12248.0,13255.0,9896.0,15492.0,8230.0,29021.0,9991.0,13254.0
4,DC10,DC17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
newExcelDf.to_excel('None空值填充-物流网络历史货量数据.xlsx', index=False)